<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHAT :: WEBPACK</title>
  </head>
  <body>
    <div id="root">
      <h1>CHAT</h1>
      <div class="link-list">
        <a href="/">INDEX</a>
        <a href="/about">ABOUT</a>
        <a href="/contents">CONTENTS</a>
      </div>

      <div class="chat">
        <div class="screen">
          <!-- <dl>
            <dt>사용자1</dt>
            <dd>아무말 아무말</dd>
          </dl>
          <dl class="user">
            <dt>사용자2</dt>
            <dd>아무말 아무말</dd>
          </dl> -->
        </div>

        <div class="form">
          <input type="text" id="iptChat" class="ipt-chat" placeholder="말해" />
          <button class="btn-chat">전송</button>
        </div>
      </div>
    </div>
  </body>
</html>
